@charset "UTF-8";
body
{
  background-image:linear-gradient(#ab6bbf,#7023aa);
  min-height: 100vh;
}

h1
{
  font-family:'Sawarabi Mincho';
  color:#ffffff;
  letter-spacing: 10px;
  margin-left:20px;
  margin-top:30px;
}

.komand
{
  font-family: 'Noto Serif JP';
  font-size: 20px;
  width:270px;
  color:#ffffff;
  border-width:5px;
  border-style:double;
  border-color:#ffffff;
  padding:7px;
  margin-left:100px;
  margin-top: 30px;
  letter-spacing: 7px;
}

<<<<<<< HEAD
.senwo
{
  border-top:0px;
  border-color:#b79cbf;
  border-style:solid;

=======
div
{
  margin-top:30px;
  margin-left:100px;
}

.image{position:relative;}
.image::before,
.image::after{
  content:'';
  position:absolute;
  transform:rotate(-35deg);
  width:70px;
  height:25px;
  background-color:#fffeee;
  z-index:1;
>>>>>>> 63af422eaa55065921fd60a1529dabcce00dff20
}

#keikun
{
  padding-left:90px;
}
<<<<<<< HEAD

.kontena
{
  padding-top:40px;
  display:flex;
=======
.image::after{
  bottom:-7px;
  left:155px;
  border-top:1px solid #aaa;
>>>>>>> 63af422eaa55065921fd60a1529dabcce00dff20
}
