@charset "UTF-8";
body
{
  background-image:linear-gradient(#ab6bbf,#7023aa);
  min-height: 100vh;
}

h1
{
  font-family:"Sawarabi Mincho";
  color:#ffffff;
  letter-spacing: 10px;
  margin-left:20px;
  margin-top:50px;
  font-size: 40px;
}

.komand
{
  font-family: 'Noto Serif JP';
  font-size: 20px;
  width:295px;
  color:#ffffff;
  border-width:5px;
  border-style:double;
  border-color:#ffffff;
  padding:7px;
  margin-left:30%;
  margin-top: 30px;
  letter-spacing: 7px;
  text-align:center;
}

.honbun
{
  color:#ffffff;
  margin-left:10%;
  margin-right:10%;
}

#yokudeki
{
  font-family:inherit;
  color:#ffffff;
  font-size:20px;
  letter-spacing: 5px;
  margin-left:25px;
  margin-top: 15px;
}

.senwo
{
  margin-top:50px;
  border-top:0px;
  border-color:#b79cbf;
  border-style:solid;
  margin-left:15px;
  margin-right: 25px;
}

#keikun
{
  margin-top:40px;
  margin-left:8%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.kontena
{
  padding-top:40px;
  display:flex;
}
.sitano
{
  display:flex;
}

main{
  width:75%;
}

aside
{
  width:25%;
  color:#ffffff;
  margin-left:10px;
  margin-right:40px;
  margin-top:30px;
}

aside img{
  margin-top:30px;
  height:150px;
  width:190px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

aside h2
{
  font-family: 'Noto Serif JP';
  font-size:18px;
}

aside p
{
  font-size:14px;
  text-align:justify;
  margin-top:10px;
}

iframe
{
  margin-left:27%;
}
