@charset "UTF-8";
body
{
  background-color: #fffeee;
}
h1
{
  color:red;
}

p
{
  color:green;
}

div
{
  margin-top:30px;
  margin-left:100px;
}

.image{position:relative;}
.image::before,
.image::after{
  content:'';
  position:absolute;
  transform:rotate(-35deg);
  width:70px;
  height:25px;
  background-color:#fffeee;
  z-index:1;
}
.image::before{
  top:-9px;
  left:-25px;
  border-bottom:1px solid #aaa;
}
.image::after{
  bottom:-7px;
  left:155px;
  border-top:1px solid #aaa;
}
